body {
    margin: 50px;
    font-family: Arial, sans-serif;
}
.login-box {
    width: 435px;
    height: 660px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 1px solid #eee;
    border-radius: 5px;
}
.logo {
    width: 80px;
    margin: 40px 0 30px;
    display: block;
}
input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.login-btn {
    width: 100%;
    padding: 10px;
    background: #0c7cd5;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: default;
    margin-bottom: 10px;
}
.link-group {
    text-align: right;
    margin: 10px 0;
}
.link-group a {
    color: #0c7cd5;
    text-decoration: none;
    font-size: 14px;
}
.register-text {
     font-size: 14px;
     color: #666;
     margin-bottom: 30px;
 }
.other-login {
    margin-top: 20px;
    text-align: center;
}
.other-login img {
    width: 30px;
    margin: 0 10px;
    cursor: default;
    margin-bottom: 20px;
}
.agreement {
     font-size: 12px;
     color: #999;
     margin-top: 20px;
     text-align: center;
     display: flex;
     justify-content: center;
   
 }
 .agreement a {
     color: #0c7cd5;
     text-decoration: none;
     text-align: center;
     
 }
 .agreement label {
display: inline-flex;
align-items: center;
margin-right:1px ;
gap: 2PX;
 }
